module.exports = {
  firstName: 'Firstname',
  lastName: 'LastName',
  areaCode: '111',
  telPrefix: '222',
  telSuffix: '3333',
  birthMM: '44',
  birthDD: '55',
  birthYYYY: '6666',
  dlNumber: '77777777',
  // I just stuck this in here for convenience
  monthMap: {
        January: '01',
        February: '02',
        March: '03',
        April: '04',
        May: '05',
        June: '06',
        July: '07',
        August: '08',
        September: '09',
        October: '10',
        November: '11',
        December: '12'
    },
    botToken: 'botToken',
    chatId: 'chatId',
    text: 'success to book'
};
